<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29540370954-sh8nil27mdf9cvpso5i7pf3c4tbh47vd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29540370954-sh8nil27mdf9cvpso5i7pf3c4tbh47vd</string>
	<key>API_KEY</key>
	<string>AIzaSyDxX2kwp9aoIFg5qH-cGWao4oiAP0UVjFM</string>
	<key>GCM_SENDER_ID</key>
	<string>29540370954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kidsworld</string>
	<key>PROJECT_ID</key>
	<string>kidsworld-48ee4</string>
	<key>STORAGE_BUCKET</key>
	<string>kidsworld-48ee4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29540370954:ios:cce1021ff281823419adf3</string>
</dict>
</plist>